.social-button {
  min-width: 115px;
  min-height: 34px;
  border-radius: 6px;
  border: none;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  cursor: pointer;
}
.social-btn-icon {
  margin-right: 10px;
}
